

<div class="container align-center">
    <div class="title">
      <h1>
          {{ title }}
      </h1>
    </div>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Start Date" [(ngModel)]="startDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker ></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="picker1" placeholder="End Date" [(ngModel)]="endDate">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1 ></mat-datepicker>
    </mat-form-field>

    <button type="submit" class="btn btn-primary" (click)="FilterData()">Submit</button>

    <table class="table table-striped" *ngIf="arrData">
        <thead class="thead-dark">
          <th>City</th>
          <th>Start Date</th>
          <th>End date</th>
          <th>Price</th>
          <th>Status</th>
          <th>Color</th>
        </thead>

        <tbody>
          <tr *ngFor="let data of arrData">
            <td>{{data.city}}</td>
            <td>{{data.start_date}}</td>
            <td>{{data.end_date}}</td>
            <td>{{data.price}}</td>
            <td>{{data.status}}</td>
            <td>{{data.color}}</td>
          </tr>
        </tbody>

    </table>

</div>

<router-outlet></router-outlet>
